<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6Dej-yh1aVJEQzvL3uxdxWrB0bL1531Y</string>
	<key>GCM_SENDER_ID</key>
	<string>317921569929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartspark</string>
	<key>PROJECT_ID</key>
	<string>smart-spark-api</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-spark-api.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317921569929:ios:faaac1582f0eeaebaf6a58</string>
</dict>
</plist>